# **LEARNING PYTHON**
## **GOOGLE COLLAB**

In [ ]:
print("Hello world")
a = 1
b = 2
print(a*b)
print('''mustafa is a
great guy
and he is leaarning python for agentic ai''')
# first of all we learn the basic of python

Hello world
2
mustafa is a
great guy
and he is leaarning python for agentic ai

# **OPERATORS IN PYTHON**
1. ### **Assignment Operators**
2. ### **Arthimetic Operators**
3. ### **Comparison Operators**
4. ### **Logical Operators**

## **Assignment opertaors**

In [ ]:
b = 6
b += 7
print(b)
a = 7
a -=3
print (a)

13
4

## **Arthimetic operators**

In [ ]:
a = 2
b = 5
print(a+b)
a = 2
b = 5
print(a-b)
a = 2
b = 5
print(a*b)
a = 2
b = 5
print(a/b)

7
-3
10
0.4

# **COMPARISON OPERATORS**

In [ ]:
a = 5<4
print(a)
b = 6>3
print(b)
c = 4==3
print (c)
d = 9!=5
print (d)

False
True
False
True

# **LOGICAL OPERATORS**

In [ ]:
from pickle import TRUE
print ("True or False is",True or False)
print ("True or True is",True or True)
print ("False or False is",False or False)
print ("Flase or Trueis",False or True)
#now we see the and operators
print ("True and False is",True and False)
print ("True and True is",True and True)
print ("False and False is",False and False)
print ("Flase and Trueis",False and True)

True or False is True
True or True is True
False or False is False
Flase or Trueis True
True and False is False
True and True is True
False and False is False
Flase and Trueis False

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# **INPUT FUNCTION IN PYTHON**

In [ ]:
a = int(input("Enter number 1:"))
b = int(input("Enter number 2:"))
print("a:", a)
print("b:", b)
print("sum is", a +b)
c = input("Enter numbdr 1:")
d = input("Enter number 2:")
print("c:", c)
print("d:", d)
print("sum is", c+d)

Enter number 1:90
Enter number 2:89
a: 90
b: 89
sum is 179
Enter numbdr 1:90
Enter number 2:89
c: 90
d: 89
sum is 9089

# **Practice Set**

In [ ]:
# Q:1, Write a python program to add two numbers.
a= 76
b= 9.5
print(a+b)

85.5

In [ ]:
# Q:2, Write a python program to find remainder when a number is divided by z.
x = 5
y = 2
print("Remainder when x is divided by z",x % y)

Remainder when x is divided by z 1

In [ ]:
# Q:3, Check the type of variable assigned using input () function.
j = input("Enter the value of j:")
j=int(j)
print(type(j))

Enter the value of j:8
<class 'int'>

In [ ]:
# Q:4, Use comparison operator to find out whether ‘a’ given variable a is
# greater than ‘b’ or not. Take a = 34 and b = 80
a = int(input("Enter number 1: "))
b = int(input("Enter number 2: "))
print("a is greater than b is", a>b)

Enter number 1: 9
Enter number 2: 8
a is greater than b is True

In [ ]:
# Q:5, Write a python program to find an average of two numbers entered by the user
a = int(input("Enter number 1: "))
b = int(input("Enter number 2: "))
print("The average of these two number is",(a+b)/2)

Enter number 1: 1
Enter number 2: 2
The average of these two number is 1.5

In [ ]:

# Q:6, Write a python program to calculate the square of a number entered by the user
a = int(input("Enter number 1: "))
print("The square of the number is",a**2)

Enter number 1: 8
The square of the number is 64

# **STRINGS TOPIC**
a ='MUSTAFA'       
# Single quoted string
b = "MUSTAFA"      
# Double quoted string
c = '''MUSTAFA'''  # Triple quoted string

In [ ]:
# Strings are immutable
# in this topic we can cover how to sliced string
name = "mustafa"
nameshort= name[0:3] # the output is mus bcz we sliced string 0to6 letter and we type 0:3
print(nameshort)
character1= name[2]
print(character1) #the output is s bcz we sliced string in only 1 character
# Slicing skip value
name = "mustafaMemon"
skipvalue= name[1:8:4] # the output is uf bcz we skip the values
print(skipvalue)
name= "mustafa"
print(len(name))# this function describe the length of the string
print(name.startswith("mu"))
print(name.endswith("fa"))
print(name.upper())
print(name.lower())
print(name.capitalize())
print(name.find("ta"))
name = input("Enter your name:")
print(f"Good morning,{name}")

mus
s
uf
7
True
True
MUSTAFA
mustafa
Mustafa
3

# **Escape Sequence Character**

In [ ]:
# now we can see the escape sequence character
a = "everything going\nbored" # it is use for start next line
print(a)
a = "everything going\"bored\"" # it is use for add "" in answer
print(a)
a = "everything going\tbored" # it is use for add space on line
print(a)
a = "everything going\abored" # it is use for add special charachter in a line
print(a)
a = "everything going\\bored" # it is use for add \ in a line
print(a)
a = "everything going\fbored" # it is use for less gap between from words
print(a)

everything going
bored
everything going"bored"
everything going	bored
everything goingbored
everything going\bored
everything goingbored

# **LIST**

---
### **In this topic we cover.**


1.   List fuction
2.   and what are the uses of list in python
3.   why we make list

In [ ]:
friends = ["mustafa","hunain",79,"abrar","True",89.7]
print(friends[0]) # we can see this output was mustafa
friends[0]="noman" # Unlike strings list are mutable
print(friends[0]) # and thid output was noman
# how we change output because strings are mutable
print(friends[1:5])

mustafa
noman
['hunain', 79, 'abrar', 'True']

## **Maping type**

In [ ]:
my_dict: dict = { "hamza", "mustafa", "noman"}
print("my_dict:", my_dict)

my_dict: {'hamza', 'noman', 'mustafa'}

# **Byte Types**

In [ ]:
bytes:bytes=b"Hello World"
print(type(bytes),"bytes:",bytes)

<class 'bytes'> bytes: b'Hello World'

# **Bytearray**

In [ ]:
ba=bytearray([65,66,67])
ba[0]=90
print(bytearray,ba)

<class 'bytearray'> bytearray(b'ZBC')

# **None type**

In [ ]:
A:str=None
B:str=None
C:str=None
print(type(A))
print("value of A = " + str(A) )
print("A==B",A==B)
print("A is B",A is B)
print("A is C",A is C)
print("B==C",B==C)
print("id(A)",id(A))
print("id(B)",id(B))
print("id(C)",id(C))

<class 'NoneType'>
value of A = None
A==B True
A is B True
A is C True
B==C True
id(A) 10632160
id(B) 10632160
id(C) 10632160

# **Tuples Methode**

In [ ]:
t = (10,20,30,40,20)
print(t.count(20))
print(t.index(30))
print(t*2)
print(t)
a=(5,6)
b=(7,8)
print(a+b)
print("7"in b)

2
2
(10, 20, 30, 40, 20, 10, 20, 30, 40, 20)
(10, 20, 30, 40, 20)
(5, 6, 7, 8)
False

# **Bytearray**

In [ ]:
bytearray=([65,66,67,68])
print(type(bytearray),"bytearray:",bytearray)
print(bytearray[1])
print(chr(bytearray[2]))
print("Empty bytearray(): ")

<class 'list'> bytearray: [65, 66, 67, 68]
66
C
Empty bytearray():

In [ ]:
hello=input("HOW WAS YOUR DAY GOING MUSTAFA :")
print(type(hello))
print(hello)

HOW WAS YOUR DAY GOING MUSTAFA :Good
<class 'str'>
Good

In [ ]:
mem_view = __builtins__.memoryview(b"I'm feel homesick")
print(type(mem_view),"mem_view",mem_view)
print(bytes(mem_view[0:10]))
print(mem_view[6:11])

<class 'memoryview'> mem_view <memory at 0x7c6491574ac0>
b"I'm feel h"
<memory at 0x7c6491574280>

In [ ]:
print("hey world")

hey world