In [ ]:
!gitclone https://github.com/mustafamemon265789-cloud/PYTHON-CODE.git

/bin/bash: line 1: gitclone: command not found

# **Numeric Types**
**There are three type of numeric**


1.   **Integers Number**
2.   **Floating Point Numbers**
3.   **Complex Number**

In [ ]:
num:int = 89
print(type(num),"num variable",num,)
num:float = 89.5
print(type(num),"num variable",num,)
num:complex = 9j
print(type(num),"num variable",num,)

<class 'int'> This is my num variable 89
<class 'float'> This is my num variable 89.5
<class 'complex'> This is my num variable 9j

## **REAL AND IMAGINARY NUM**

In [ ]:
z = 4+6j
print("Real Part:",z.real) # it is real number because it cant contain any digit
print("Imaginary Part:",z.imag) #it is imaginary number because it contain digit

Real Part: 4.0
Imaginary Part: 6.0

# **List**
**List are mutable**

In [ ]:
list:list=[12,"Hashim",89.5,"Apple"]
list.append("hamza")# append methode use for add any string or numeric in list
print(("list:"),list)
print(list[0:3]) # in this methode we sliced list
list[2]="imran" # it means list are mutable in python we change list
print(list[2])
# that's why lit are mutable

list: [12, 'Hashim', 89.5, 'Apple', 'hamza']
[12, 'Hashim', 89.5]
imran

## **Tuples**
**Tuples are immutable**

In [ ]:
tuple = (1,2,89.5,"compiler","True",4-6j)
print(type(tuple),"tuple :",tuple)
print(tuple[2:5])

<class 'tuple'> tuple : (1, 2, 89.5, 'compiler', 'True', (4-6j))
(89.5, 'compiler', 'True')

## **Bytes Data**

In [ ]:
byte_data: bytes = b"Hello"
print(type(byte_data), " byte_data = ", byte_data)  # <class 'bytes'>

<class 'bytes'>  byte_data =  b'Hello'

## **Range**

In [ ]:
num_range: range = range(1,10,2)
print(type(num_range),"num_range =",num_range.step)
for i in range (1,10,2):
  print(i)

<class 'range'> num_range = 2
1
3
5
7
9

# **QUOTES**
## **What are the uses of single and double and triple**
## **quotes in python**


### 1.   **Single quotes string**
### 2.   **Double quotes string**
### 3.   **Triple quotes string**

## **Single quote string**
### **' '**
**You can write a string using single quotes ' ' or double quotes " " â€” both mean the same thing.**

In [ ]:
name:str='mustafa'
greeting = "Hello"
print(type(name),"name",name)
print(type(greeting),"greeting",greeting)
sentence:str = 'he said, "Python is high level programing language"'
print("sentence:",sentence)

<class 'str'> name mustafa
<class 'str'> greeting Hello
sentence: he said, "Python is high level programing language"

## **Double quote strings**
**Double quotes (" ") define strings and are useful when the text contains single quotes.**

In [ ]:
message:str =  "It's a rainy day"
print("message:",(message))

message: It's a rainy day

## **Triple quote string**
**It is use for multiple line when we write multiple line code we use triple quote**

In [ ]:
summary:str='''AI (Artificial Intelligence) is the branch of computer science that
enables machines to think, learn, and make decisions like humans. It powers technologies
such as voice assistants, chatbots,image recognition,and self-driving cars by using
data and algorithms to improve performance over time.'''
print("summary:",summary)

summary: AI (Artificial Intelligence) is the branch of computer science that
enables machines to think, learn, and make decisions like humans. It powers technologies
such as voice assistants, chatbots,image recognition,and self-driving cars by using
data and algorithms to improve performance over time.

# **SET'S**


1.   **Set**
2.   **Frozen set**

## **Set**

In [ ]:
# sets are mutable
set: set = {1,2,33,4,5,6}
print("set:",set)
a = {1,26,6,19}
c = {33,66,6,12}
a.add(13)
a.remove(26)
print("set","intersection",a & c)# intersection
print("set","union (sorted):",sorted (a | c))# union sorted means the number in row unsorted means number are disturb
print(a - c)# this sign is use in set for define difference
f=frozenset([1,2,89])
print(f)

set: {1, 2, 33, 4, 5, 6}
set intersection {6}
set union (sorted): [1, 6, 12, 13, 19, 33, 66]
{1, 19, 13}
frozenset({89, 1, 2})

## **Frozen set**

In [ ]:
A = frozenset([1, 2, 3])
B = frozenset([3, 4, 5])

print(A | B)  # Union
print(A & B)  # Intersection
print(A - B)  #difference
a.add(5)

frozenset({1, 2, 3, 4, 5})
frozenset({3})
frozenset({1, 2})

<class 'NoneType'>
value of x = None
x == y =  True
id(x) =  10632160
id(y) =  10632160
id(z) =  10632160
x is y =  True
x is z =  True
id(x) is id(z) =  False
id(x) == id(z) =  True

'\nIn Python, `==` is the equality operator, which checks if the values of two objects are equal.\nOn the other hand, `is` is the identity operator, which checks if two objects are the same object in memory.\n'

In [ ]:
x: str = None
y: str = None
z: str = x

#display the data type of x:
print(type(x))
print("value of x = " + str(x) )
print("x == y = ", x == y)
print("id(x) = ", id(x))
print("id(y) = ", id(y))
print("id(z) = ", id(z))
print("x is y = ", x is y)
print("x is z = ", x is z)
print("id(x) is id(z) = ", id(x) is id(z)) # False :( why? you will get the answer in topic 'Integer Literals in Python'
print("id(x) == id(z) = ", id(x) == id(z)) # True
'''
In Python, `==` is the equality operator, which checks if the values of two objects are equal.
On the other hand, `is` is the identity operator, which checks if two objects are the same object in memory.
'''

<class 'NoneType'>
value of x = None
x == y =  True
id(x) =  10632160
id(y) =  10632160
id(z) =  10632160
x is y =  True
x is z =  True
id(x) is id(z) =  False
id(x) == id(z) =  True

'\nIn Python, `==` is the equality operator, which checks if the values of two objects are equal.\nOn the other hand, `is` is the identity operator, which checks if two objects are the same object in memory.\n'

In [ ]:
x:int=2
y:int=2
z:int=x
print( "+ str(x) " + str(id(x))) # when you need to concatinate any thing with string you need to first cast it to str()
print( "+ str(y) " + str(id(y)))
print( "+ str(z) " + str(id(z)))
print( id(x) == id(y) )
print( id(x) is id(y) ) # ;)

+ str(x) 11654408
+ str(y) 11654408
+ str(z) 11654408
True
False

In [ ]:
x = -5
y = -5
z = -5

print("Value of x = " + str(x) + ", and id(x) = " + str(id(x)))
print("Value of y = " + str(y) + ", and id(y) = " + str(id(y)))
print("Value of z = " + str(z) + ", and id(z) = " + str(id(z)))

print("\n ===================== \n")

a = 257
b = 257
c = 257

print("Value of x = " + str(a) + ", and id(a) = " + str(id(a)))
print("Value of y = " + str(b) + ", and id(b) = " + str(id(b)))
print("Value of z = " + str(c) + ", and id(c) = " + str(id(c)))

Value of x = -5, and id(x) = 11654184
Value of y = -5, and id(y) = 11654184
Value of z = -5, and id(z) = 11654184

 =====================

Value of x = 257, and id(a) = 132504458889776
Value of y = 257, and id(b) = 132504458890448
Value of z = 257, and id(c) = 132504458889840

In [ ]:
shark1_age = 300
shark2_age = 300

print("Value of shark1_age = " + str(shark1_age) + ", and id(shark1_age) = " + str(id(shark1_age)))
print("Value of shark2_age = " + str(shark2_age) + ", and id(shark2_age) = " + str(id(shark2_age)))

if(shark1_age == shark2_age): #comparison by value
  print("shark1_age & shark2_age have same age")
else:
  print("shark1_age & shark2_age have different age")

print(" ===================== ")

Value of shark1_age = 300, and id(shark1_age) = 132504458898064
Value of shark2_age = 300, and id(shark2_age) = 132504458892784
shark1_age & shark2_age have same age
 =====================

In [ ]:
i: int = 11
print("Value of i = " + str(i) + ",     Type of i = " + str(type(i)))

j: float = 21.6

f: float = i + j #Implicit Type Casting
print("Value of f = " + str(f) + ",   Type of f = " + str(type(f)))

f1: float = 77.99
print("Value of f1 = " + str(f1) + ", Type of i = " + str(type(f1)))

i1: int = int(f1) #When ever you type cast a float value into an integer it truncate
             #the decimal part and only keeps the whole number
print("Value of i1 = " + str(i1) + ",    Type of i = " + str(type(i1)))

s: str = "24.7"
f2: float = float(s)
print("Value of f2 = " + str(f2) + ",  Type of i = " + str(type(f2)))

#uncomment the below line of code to see error
#i2 = int(s) #correct this error by casting with float()
#print("Value of i2 = " + str(i2) + ", Type of i = " + str(type(i2)))

Value of i = 11,     Type of i = <class 'int'>
Value of f = 32.6,   Type of f = <class 'float'>
Value of f1 = 77.99, Type of i = <class 'float'>
Value of i1 = 77,    Type of i = <class 'int'>
Value of f2 = 24.7,  Type of i = <class 'float'>

In [ ]:
k: int = -9 #Any number either positive or negative, beside '0' ZERO is considered True
b: bool = bool(k)
print("Value of b = " + str(b) + ", Type of b = " + str(type(b)))

print("\n =================== \n")

if(k):
  print("""if block: This line of code will execute if we provide any integer value
          other then '0' ZERO""")
else:
  print("else block: As '0' is considered False, so this line of code will not execute")

print("\n =================== \n")

print("check: bool(\"55\")             = ", bool("55"))
print("check: bool(\"\")               = ", bool(""))
print("check: bool([1, 2, 3])        = ", bool([1, 2, 3]))
print("check: bool({\"key\", \"value\"}) = ", bool({"key", "value"}))

#Note: we will learn about list and dictionary in up comming classes
print("check: bool([])               = ", bool([])) #[] square brackets used to represent list
print("check: bool({})               = ", bool({})) #{} curly brackets used to represent dictionary

Value of b = True, Type of b = <class 'bool'>

 ===================

if block: This line of code will execute if we provide any integer value
          other then '0' ZERO

 ===================

check: bool("55")             =  True
check: bool("")               =  False
check: bool([1, 2, 3])        =  True
check: bool({"key", "value"}) =  True
check: bool([])               =  False
check: bool({})               =  False

In [ ]:
x=-5
y=10
print(x+y)

5

In [ ]:
a="hamza"=="hamza"
print(a)
b=5<8
print(b)
c=9!=10
print(c)
7-9=10

True
True
True

In [ ]:
first_name="Muhammad"
last_name="Mustafa"
first_name+=last_name
print(first_name)

MuhammadMustafa

In [ ]:
a=100*5
b=9%6
c=10**2
print(a)
print(b)
print(c)

500
3
100

In [ ]:
if (user_input := input("Enter a number: ")) and user_input.isdigit():
    print(f"user_input =  {user_input}")
else:
    print("Invalid input. Please enter a valid number.")

Enter a number: 7
user_input =  7

# **id() function in python**

In [ ]:
x:str = 20
d:str = 90
z:str = x
print("ID of variable x ="+ str(id(x)))
print("ID of variable d ="+ str(id(d)))
print("ID of variable z ="+ str(id(z)))
print(id(x)==id(z))
print(id(x)==id(d))

ID of variable x =11654984
ID of variable y =11657224
ID of variable z =11654984
True
False

# **INTERNING INTEGERS**

In [ ]:
x:int= 257
y:int= 257
z:int= 257
print("id(x)","value of x =",int(id(x)))
print("id(y)","value of y =",int(id(y)))
print("id(z)","value of z =",int(id(z)))

id(x) value of x = 140601478926800
id(x) value of x = 140601478926800
id(x) value of x = 140601478926800

In [ ]:
a:int=3
b:float=5.5
c= a+b
print(c)
print(int(c))

8.5
8

In [ ]:
x = 10
print("bin(x) = ",bin(x),type(bin(x)))

bin(x) =  0b1010 <class 'str'>

In [ ]:
import keyword
print("The list of \
keyword is :")
print(keyword.kwlist)

The list of keyword is :
['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
x,y,z=5,3.2,"Python"
print(x,y,z)

5 3.2 Python

In [ ]:
rawstring:int=r"hello\t\nwor\\ld"
print(rawstring)

hello\t\nwor\\ld

# **Unicode character**

In [ ]:
print(r"\u0029 =","\u0029")
print(r"\u0057 = ","\u0057")
print(r"\u0042 = ", "\u0042")

\u0029 = )
\u0057 =  W
\u0042 =  B

# **SPLIT AND REPLACE METHODE**

In [ ]:
m= "Hello, Mustafa!"
word:str=m.split("ll")
print('m.split("ll")',word)
word:str=m.split("a")
print('m.split("a")',word)
print(m.replace("Mustafa","World"))

m.split("ll") ['He', 'o, Mustafa!']
m.split("a") ['Hello, Must', 'f', '!']
Hello, World!

# **Join**

In [ ]:
string:str=','
joinstring:str=string.join(['P','A','K','I','S','T','A','N'])
print(joinstring)

P,A,K,I,S,T,A,N

In [ ]:
string="Hello, World! Hello, Pakistan!"
count=string.count('Hello')
print("string.count('Hello')",count)
count=string.count('o')
print("string.count('o')",count)

string.count('Hello') 2
string.count('o') 3